{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block head_content %}
<link href="/static/css/starter-template.css" rel="stylesheet">
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}


{% block body_content %}
    
    
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
          <form action="" method="post">
          {% csrf_token %}
            <br><br><br>
              <h3>密码重置</h3>
            <br>


          {{ form | crispy }}
          <input type="submit" name="commit" value="发送邮件" class="btn btn-primary btn-block">
          </form>

        <div class="text-center">
          <hr>
          <span>输入您的e-mail地址，我们将给您发送一封e-mail，以便重置密码。</span>
        </div>
        </div><!-- /.container --></div>

{% endblock %}