{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block head_content %}
<link href="/static/css/starter-template.css" rel="stylesheet">
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
         <br><br><br>
         <div class="text-center">
         <h3>密码重置</h3>
             {% if user.is_authenticated %}
             {% include "account/snippets/already_logged_in.html" %}
             {% endif %}
         </div>

        <div class="text-center">
          <hr>
          <span>我们已给您发了一封e-mail，如您在几分钟后仍没收到，请与我们联系。</span>
        </div>
        </div><!-- /.container --></div>
{% endblock %}





